{{# Desktop Nav #}}
<nav class="sticky top-0 z-10 hidden mx-auto mb-1 overflow-x-hidden bg-white/90 backdrop-blur-md sm:block font-league-gothic">
    <div class="container flex items-center justify-between w-full py-2 mx-auto">
        {{ partial:logo }}
        <nav class="relative flex items-center py-2">
            <ul class="flex flex-row gap-1 pr-2">
                {{ nav:collection:pages }}
                    {{ if show_in_navigation}}
                        <li class="{{ is_current ?= 'underline'}} flex content-center items-center px-1 py-1.5 text-2xl uppercase decoration-2 underline-offset-4 hover:text-indigo-600 hover:underline active:translate-y-1">
                            <a href="{{ url }}" class="block h-full">{{ title }}</a>
                        </li>
                    {{ /if show_in_navigation}}
                {{ /nav:collection:pages }}
            </ul>
            {{ partial:socials }}
        </nav>
    </div>
</nav>
{{# /Desktop Nav #}}

{{# Mobile Nav #}}
<nav x-data="{ open: false }" class="sticky top-0 z-10 font-league-gothic">
    <div class="sticky top-0 flex flex-row py-5 pl-3 pr-3 bg-white/80 backdrop-blur-md sm:hidden" :class="{'': open, 'shadow-md': !open}">
        <div class="flex flex-row justify-between w-full">
            <div class="max-w-[120px]">
                {{ partial:logo }}
            </div>
            <button class="relative w-5 h-5 text-black focus:outline-none " @click="open = !open">
                <span class="sr-only">Open main menu</span>
                <div class="absolute block w-5 transform -translate-x-1/2 -translate-y-1/2 left-1/2 top-1/2">
                    <span aria-hidden="true" class="absolute block h-0.5 w-5 transform bg-black bg-current transition duration-200 ease-in-out" :class="{'-rotate-45': open, ' translate-y-1.5': !open}"></span>
                    <span aria-hidden="true" class="absolute block h-0.5 w-5 transform bg-black bg-current transition duration-200 ease-in-out" :class="{'-rotate-45': open, ' translate-y-0.25': !open}"></span>
                    <span aria-hidden="true" class="absolute block h-0.5 w-5 transform bg-current transition duration-200 ease-in-out" :class="{'rotate-45': open,'-translate-y-1.5': !open }"></span>
                </div>
            </button>
        </div>
    </div>
    <div x-show="open" class="flex items-center justify-center w-screen h-screen overflow-scroll align-middle transition-all bg-white duration-600 bg-white/80 backdrop-blur-md md:hidden">
        <div class="-mt-[15vh]">
            <ul class="flex flex-col gap-0">
                {{ nav:collection:pages }}
                    <li class="{{ is_current ?= 'underline'}} flex content-center items-center px-2 py-1.5  text-7xl uppercase decoration-2 underline-offset-4 hover:text-indigo-600 hover:underline active:translate-y-1">
                        <a href="{{ url }}" class="block h-full">{{ title }}</a>
                    </li>
                {{ /nav:collection:pages }}
            </ul>
            <div class="pt-6">
                {{ partial:socials }}
            </div>
        </div>
    </div>
</nav>
{{# /Mobile Nav #}}
